* {
    font-family: 'Segoe UI';
  }

h1 {
  margin-top: 5px;
}

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow-y: hidden;
  }

  #content {
    overflow: auto;
    height: 100%;
    padding-bottom: 2vh;
    position: relative;
  }
  
  input, select {
    display: inline-block;
    text-align: center;
    font-weight: bolder;
    text-align-last: center;
    /* font-size: medium; */
    /* width: auto; */
  }

  input[type='button'],
  button {
    display: inline-block;
    margin: 5px;
    background-color: #ffffff;
    padding: 6px;
    font-size: 1em;
    font-weight: bolder;
    min-height: 40px;
    vertical-align: middle;
    border-radius: 4px;
  }

  input[type='range'],
  input[type='text'],
  input[type='number'],
  input[type='datetime-local'],
  .settings_column input[type='button'],
  select, option {
    min-width: 210px;
    min-height: 40px;
    vertical-align: middle;
    height: 26px;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    border-width: 2px;
  }

  label,
  #remaining span {
    display: inline-block;
    margin: 0px;
  }

  /* option blocks */
  .settings_column>div {
    margin: 20px 0px;
  }

  /* option names */
  .settings_column>div>span, .settings_column>div>label {
    vertical-align: middle;
    display: inline-block;
    min-width: 150px;
    font-weight: bolder;
  }

  .settings_column {
    width: 45%;
    display: inline-block;
    vertical-align: top;
  }

  .option_blocks {
    display: inline;
  }

  video {
    width: 100%;
  }
  
  /* console logs */
  
  .error {
    color: red;
  }
  
  .warn {
    color: orange;
  }
  
  .info {
    color: lightcoral;
  }

  #video_resize {
    resize: both;
    overflow: hidden;
    width: 50%;
  }


  #status_panel {
    display: inline-block;
  }

  #preview_panel,
  #settings_panel,
  #remaining,
  #duration {
    display: none;
  }

  #remaining * {
    vertical-align: middle;
  }

  #controls_panel {
    /* position: fixed; */
    /* top: 0px; */
    /* flex: 1; */
    background-color: white;
    width: auto;
  }

  #clock {
    width: 100%;
  }

  footer {
    height: 24vh;
    /* resize: vertical; */
    /* overflow: auto; */
  }

  #log {
    padding: 1vh 0vh 3vh 1vh;
    height: 9vh;
    overflow: auto;
    width: 100%;
    display:inline-block;
    /* height: inherit; */
    background-color: #eee;
    color: grey;
    font-family: monospace;
    font-size: 20px;
  }

  #log_controls {
    display: flex;
    flex-flow: column;
    margin-right: 8px;
  }

  #metre {
    height: 5px;
    background-color: black;
  }

  svg#logo {
    /* aspect-ratio: 1 /1; */
    height: 40vh;
    width: 40vh;
    /* display: block; */
    position: absolute;
    /* margin: auto; */
    top: calc(50% - 20vh);
    left: calc(50% - 20vh);
    animation: 10s rotate infinite linear;
    /* animation: 1s logo-exit-rotate 1 cubic-bezier(0.8, 0.05, 0.795, 0.035); */
    /* animation-duration: 2s;
    animation-name: logo-exit-rotate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in; */
    /* animation-direction: alternate; */
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes logo-exit-rotate {
    to {
      transform: rotate(360deg);
      opacity: 0;
      display: none;
    }
  }